@model List<Abono>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://cdn.datatables.net/v/dt/dt-2.0.1/datatables.min.js"></script>
<script src="DataTables/datatables.min.js"></script>
<script src="~/js/site.js"></script>

<br>
<br>
<div class="card">
    <div class="card-header">
        <i class="fa-solid fa-calendar-check"></i>Abonos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12" />
            <p>
                <a asp-action="Create" asp-route-idreserva="@ViewBag.IdReserva" button type="button" class="btn btn-success">Crear Abonos</a>
               

            </p>

        </div>

<table id="bookingTable" class="table table-striped table-bordered">
    <thead>
        <tr>            
            <th>
                Id Abono
            </th>
            <th>
                Total
            </th>            
            <th>
                Pendiente
            </th>
            <th>
                Fecha Abono
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAbono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantAbono)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Pendiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAbono)
            </td>
            
            <td>
                    <a asp-action="Edit" button type="button" class="btn btn-primary" asp-route-id="@item.IdAbono">Editar</a> |
                    <a asp-action="Details" button type="button" class="btn btn-secondary" asp-route-id="@item.IdAbono">Detalles</a> |
                    <a asp-action="Anular" button type="button" class="btn btn-danger" asp-route-id="@item.IdAbono">Anular</a>
            </td>
        </tr>

}
    </tbody>
</table>

    <div class="btn_volver btn btn-dark btn-sm" style="max-width:150px">
        <a asp-action="Index" asp-controller="Reservas">Volver</a>
    </div>
